/* Resets */

*{
  margin: 0;
  padding: 0;
}

/* General */

body {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'helvetica', sans-serif;
  background: #F0EEEF;
}

a:link{
  text-decoration: none;
  color: #000000;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #000;
}

.clear{
  clear:both;
}

ul{
  list-style-type: none;
}

/* Wrapper */

#wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #FFF;

}

/* Header */

#header{
  width: 100%;
  padding: 0 0.625em;

}

#header h1{
  float: left;
  padding-right: .5em;
}
 

/* Navbar */

#nav  {
  float: left;
  margin: 1.875em 1.000em 1.000em 1.250em;
  padding: 0.000em;
  list-style: none;
}


#nav li{
  float: left;
  padding: 0.313em;
}

#nav img{
  padding-right: .3em;
  width: 20px;
}

/* Banner */

#banner{
  padding: 0 0.625em;
  background: transparent url('../imgs/bannerroad1.png') 0 no-repeat fixed;
  background-size: cover;
  margin: 0.000em 1.250em 0.000em 1.250em;
  max-width: 100%;
  height: 25.000em;
}

/* Content */

.main_content{
  margin: .000em 1.250em 0.000em 1.250em;
   padding: 0 0.625em;
}

.paragraph{
  width: 49%;
  margin: 0.625em auto;
  padding: 0.313em auto; 
  background: #F0EEEF;
}

.paragraph h1, p{
  padding: 0.313em;
}

#left_col{
  float: left;
}

#right_col{
  float: right;
}

/* Footer */

#footer {
  text-align: center;
  width: 100%;
  height: 7.813em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  background: #3D4245;
  display: table;
}

#footer p{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  letter-spacing: 10;
}

#footer a:link{
  color:#FFF;
  font-size: 0.938em;
  font-weight: 200;
}

/* Instagram stuff */

 #instafeed {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 1.125em;
  background-color: #FFF;
}

#instafeed img{
    width: 90%;
    margin: 0 auto;
  }

#instafeed h3{
  text-align: center;
  margin-top: 0.313em;
  font-weight: 200;
  font-size: 0.750em;
}

#instafeed input{
  outline: 0;
}

#instafeed input:hover{
  opacity: .5;
  
}

#left_button{
  right: 100%;
  position: absolute;
  top: 40%;
  color: #000;
}

#right_button{
  left: 100%;
  position: absolute;
  top: 40%;
  color: #000;

}

/* Contact Page */

#contact {
  padding: .5em 1em;
}

#paragraph_contact{
  width: 100%
}

/* Small Screen Media Queries */

@media (max-width: 420px) {

p{
  font-size: .5em;
}

/* Navbar */

#nav img{
  display: none;
}

/* Banner */

#banner{
  display: none;
}

#left_button{
  height: 1.5em;
}

#right_button{
  height: 1.5em;
}

#left_col{
  width: 100%;
 float: none;
}

#right_col{
  width: 100%;
  float: none;
}

#footer{
  height: 2em;
}

  
}




